.logo {
    font-style: italic;
    font-family: "Lobster";
}

.logo1 {
    color: red;
}

#banner {
    background-image: url("images/image1.jpeg");
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}

#wel {
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
}

#wel1 {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 250px;
}

/* #float {
    float: right;
} */

.photo {
    float: left;
    width: 40%;
    margin-right: 15px;
}
.design-name {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
  }
  .fullApp {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;

  }
.appCon{
    background-color: grey;
    background-attachment: scroll;
    height: 1000px;
}

#addDesign{
    float: right;
}
.modal-title {
    color : red;
    text-align: center;
}