.logo {
    font-style: italic;

    font-family: "Indie Flower";
    color: black;
    font-family: "Times New Roman", Times, serif;
    color:black;
}

.logo1 {
    color: red;
}

#banner {
    background-image: url("images/bg_3.jpg");
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/* #float {
    float: right;
} */

.photo {
    float: left;
    width: 40%;
    margin-right: 15px;
}

.design-name {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.fullApp {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}


}
.appCon {
    background-color: WhiteSmoke;
    background-attachment: scroll;
    height: 100%;
}
#addDesign {
    float: right;
}
.modal-title {
    color: red;
    text-align: center;
}
#header {
    position: fixed;
}
.footer {
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 2em;
    width: 100%;
    height: 50px;
}